body{
  width: 400px;
  height: 400px;
  display:inline-block;
  }


#result
{
  position: absolute;
  margin-top:20px;
  margin-left:20px;
  width: 360px;
  height: 280px;
  border: 1px;
  box-shadow: 0 0 3px rgba(0,0,0,0.16), 0 0 6px rgba(0,0,0,0.23);
	vertical-align: middle; 
	text-align:center;
  font-family: "Slabo 13px", sans-serif; font-size: 23px;
}
#searchgif{
  height:210px;

}
#banner
{
  position: absolute;
  margin-top:300px;
  margin-left:20px;
  box-shadow: 0 0 3px rgba(0,0,0,0.16), 0 0 6px rgba(0,0,0,0.23);
  width: 360px;
  height: 80px;
  vertical-align: middle; 
	text-align:center;
  background-color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
}
